@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:is(a, button, input, label, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: orange;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color) !important;
    outline-offset: var(--outline-offset, var(--outline-size)) !important;
  }
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-text);
}

* {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.15rem;
  line-height: 1.35;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: 600;
}

dt,
dd {
  display: inline-block;
}

dt {
  text-transform: uppercase;
}

a {
  transition: 100ms ease-out;
}

button:not(.letter-clickable):not(.btn-remove-word):not(.btn-icon) {
  min-width: 5rem;

  &:active {
    box-shadow: none !important;
  }
}

input[type="text"] {
  border: 2px solid var(--colour-text);
}

.wordle,
.letter-clickable,
input[type="text"],
.btn-remove-word {
  height: 3rem;
  max-width: 3rem;
}

.wordle,
.letter-clickable,
input[type="text"] {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--colour-text);
  background: transparent;
}

.btn-remove-word {
  font-weight: $font-weight-light;
  font-size: 1.75rem;
}

.letter-clickable {
  width: 3rem;

  &--absent {
    color: #fff;
    background-color: var(--colour-wordle-absent);
  }

  &--present {
    color: #fff;
    background-color: var(--colour-wordle-present);
  }

  &--correct {
    color: #fff;
    background-color: var(--colour-wordle-correct);
  }
}


.wordle {
  height: 2rem;
  width: 2rem;
  background-color: var(--colour-wordle-absent);

  &--correct {
    background-color: var(--colour-wordle-correct);
  }
}

fieldset > div {
  max-width: 250px;
}

h2 {
  margin-top: 2rem;
}

[data-tried-word] {
  margin-top: 0.5rem;
}

.accordion-section {
  border-bottom: 1px solid var(--colour-accordion-text);

  svg {
    margin-right: 0.75rem;
  }

  button {
    color: var(--colour-accordion-text);

    &[aria-expanded="true"] svg {
      transform: rotate(180deg);
    }
  }
}