@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
  --colour-bg: #121213;
  --colour-text: #d4ccda;
  --colour-accordion-text: #fff;
  --colour-wordle-correct: #538d4e;
  --colour-wordle-absent: #3a3a3c;
  --colour-wordle-present: #b59f3b;
  --theme-toggle-bg-colour: darkgrey;
  --theme-toggle-switch-colour: #fff;
}

.colour-blind {
  --colour-wordle-correct: #f5793a;
  --colour-wordle-present: #85c0f9;
}

[data-theme="light"] {
  --colour-bg: #fff;
  --colour-text: #000;
  --colour-accordion-text: #000;
}

:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: orange;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color) !important;
    outline-offset: var(--outline-offset, var(--outline-size)) !important;
  }
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-text);
}

* {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.15rem;
  line-height: 1.35;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: 600;
}

dt,
dd {
  display: inline-block;
}

dt {
  text-transform: uppercase;
}

button:not(.letter-clickable):not(.btn-remove-word ) {
  min-width: 5rem;

  &:active {
    box-shadow: none !important;
  }
}

.wordle,
.letter-clickable,
input[type="text"],
.btn-remove-word {
  height: 3rem;
  max-width: 3rem;
}

.wordle,
.letter-clickable,
input[type="text"] {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--colour-text);
  background: transparent;
}

.btn-remove-word {
  font-weight: $font-weight-light;
  font-size: 1.75rem;
}

.letter-clickable {
  width: 3rem;

  &--absent {
    color: #fff;
    background-color: var(--colour-wordle-absent);
  }

  &--present {
    color: #fff;
    background-color: var(--colour-wordle-present);
  }

  &--correct {
    color: #fff;
    background-color: var(--colour-wordle-correct);
  }
}


.wordle {
  height: 2rem;
  width: 2rem;
  background-color: var(--colour-wordle-absent);

  &--correct {
    background-color: var(--colour-wordle-correct);
  }
}

fieldset > div {
  max-width: 250px;
}

h2 {
  margin-top: 2rem;
}

[data-tried-word] {
  margin-top: 0.5rem;
}

.accordion-section {
  border-bottom: 1px solid var(--colour-accordion-text);

  svg {
    margin-right: 0.75rem;
  }

  button {
    color: var(--colour-accordion-text);

    &[aria-expanded="true"] svg {
      transform: rotate(180deg);
    }
  }
}

.toggle {
  position: relative;
  width: 2rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--theme-toggle-bg-colour);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--theme-toggle-switch-colour);
    transition: 300ms ease-in-out;
  }

  input:checked + &::after {
    left: auto;
    transform: translateX(1.125rem);
  }

  .icon {
    position: absolute;
    top: 0.14rem;
    height: 0.65rem;

    &--sun {
      left: -0.05rem;
      color: #ffd700;
    }

    &--moon {
      right: -0.05rem;
      color: #4682b4;
    }
  }
}