@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:is(a, button, input, label, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: orange;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color) !important;
    outline-offset: var(--outline-offset, var(--outline-size)) !important;
  }
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-text);
}

* {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.15rem;
  line-height: 1.35;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: 600;
}

a {
  transition: 100ms ease-out;
}

main {
  min-height: var(--min-height-main);
}

button:active {
  box-shadow: none !important;
}

.content {
  animation: slideIn 500ms ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}