.toggle {
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: var(--theme-toggle-bg-colour);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 0.05rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background-color: var(--theme-toggle-switch-colour);
    transition: 300ms ease-in-out;
  }

  .input:checked + &::after {
    left: auto;
    transform: translateX(1.3rem);
  }

  .icon {
    position: absolute;
    top: 0.2rem;
    height: 0.9rem;

    &Sun {
      right: 0.05rem;

      color: #ffd700;
    }

    &Moon {
      left: 0.05rem;
      color: #4682b4;
    }
  }
}